body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("universe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton, .lineup, .interact{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  content: url("star.jpg");
  zoom: 10%;
  padding: 50px;
  position: relative;
  transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

.mo{
  content: url("cat.png");
  zoom: 10%;
  position: relative;
  transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
  
}

.ali{
  content: url("aladdin.png");
  zoom: 60%;
  position: relative;
  transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

/** hover works only for dancer now because mo/ali doesn't get registered to DOM (it disappears)**/
.mo:hover, .dancer:hover, .ali:hover .move-right{
    transform: translate(1000px,0);
    -webkit-transform: translate(1000px,0); * Chrome & Safari *
    -o-transform: translate(1000px,0); /** Opera **/
    -moz-transform: translate(1000px,0); /** Firefox **/
}






